  .dark {

    ion-content {
      background-color:  #262673;
      color: #fff;
    }

    .toolbar-title {
      color: #fff;
    }

    .header .toolbar-background {
      background-color: #99004d;
    }

    .nav-header {
      background-color: blue;
    }
  }
